* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1440px;
    display: flex;
}

.background-image {
    flex-basis: 35.1%;
    height: 100vh;
    background-image: url("img/paporot.jpg");
    position: relative;
}

.logo {
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 180px;
    left: 0;
}

.logo-img img {
    width: 80px;
    height: auto;
}

.logo-name {
    font-family: "Figtree", sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.form {
    flex-basis: 64.8%;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

.form-header {
    padding: 120px 130px 40px 40px;
    background-color: #ebfcfc;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.form-header p {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: rgb(24, 24, 24);
}

.form-cite {
    margin-top: 20px;
}

.form-input {
    padding: 20px 0 40px 40px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

.form-input-title {
    font-size: 18px;
    color: rgb(56, 56, 56);
}

.form-input-block {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form-input-block div {
    flex-basis: 36.6%;
}

label {
    display: block;
    font-size: 11px;
    letter-spacing: 0.55px;
}


input {
    width: 230px;
    height: 23px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: #E5E7EB;
}


input:focus {
    outline: none;
    border-color: rgb(46, 46, 255);
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.form-button {
    margin-top: 7px;
    padding: 25px 0 100px 40px;
    background-color:  #ebfcfc;
    height: calc(100vh - 559px);
}

.btn {
    border: none;
    margin-bottom: 40px;
    padding: 12px 40px;
    background-color: #596D48;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.form-button-login {
    font-size: 14px;
    font-weight: 600;
    color:  rgb(48, 48, 48);
}

.form-button-login a {
    text-decoration: none;
    color:  #596D48;
}

